<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LanguageExt.Core" version="3.0.22" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net471" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net471" />
  <package id="Rebus" version="4.2.1" targetFramework="net471" />
  <package id="Rebus.Async" version="5.0.0" targetFramework="net471" />
  <package id="Rebus.RabbitMq" version="4.4.2" targetFramework="net471" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net471" />
  <package id="Stateless" version="4.2.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>